:root {
  --color-borde: #ddd;
  --black-color: #000022;
  --background-color: #f0f2f5;
  --white-color: #ffffff;
}

.error {
  color: #e01b1b;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: none; /* esto es para ocultarlo por defecto */
}

.error.visible {
  display: block;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* pagina siempre tan alta como la pantalla del usuario*/
  margin: 0;
  font-family: sans-serif;
}

.container {
  background-color: var(--white-color);
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15); /* esto es una sombra */
  max-width: 400px;
  width: 90%;
  padding: 2.5rem;  
}

.logo {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bajada {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #333;     
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grupo-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.botones {
  display: flex;
  justify-content: center;
}

label {
  padding-bottom: 1rem;
  cursor: pointer;
}

#envio {
  background-color: #4292f4;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 14px;
  font-size: 1.1rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  margin-top: 1rem;
}

#envio:hover {
  background-color: #3471bc;
}

#logo-id {
  width: 250px;
  margin: 0 auto;
}

section {
    margin: 0;
    padding: 0;
}

input, select { 
  border: 1px solid var(--color-borde);
  border-radius: 6px;
  padding: 12px;
  font-size: 1rem;
  background-color: var(--background-color);
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus, select:focus { /* esto es para que cuando estemos escribiendo o seleccionando algo se aprecie en que caja se esta escribiendo*/
  outline: none;
  border-color: #4bb4f8;
  background-color: var(--white-color);
}

.ayuda-input {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 5px;
    margin-top: -5px; 
}


